<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-md-flex col-md-4 col-lg-6 col-md-12  bg-image border border-danger ">

        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5 ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto contenedor">
                            <div class="Icon-user">
                                <img src="../../../../../assets/img/iconUser.png" alt="Icon-User">
                            </div>
                            <h3 class="login-heading mb-4">INCIAR SESSION</h3>
                            <form>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" formControlName="email" class="form-control"
                                        id="inputEmail4">
                                    <div class="invalid-feedback">

                                    </div>
                                    <label for="floatingInput">UserName</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password" formControlName="password" id="inputPassword4">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                        Remember password
                                    </label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="submit">Iniciar</button>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>