<div class="row mt-2">
    <div class="col-lg-3 text-right border border-info">
        <button class="bottonAdd btn btn-primary btn-block">
            <i class="fas fa-plus"></i> Agregar
          </button>
    </div>
    <div class="col-lg-9 border border-info ml-2">
        <div class="input-group rounded p-2 ml-">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text  border-3 " id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
    </div>
</div>