:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer {
    background-color: rgb(0, 0, 0);
    color: white;
    min-width: 240px;
    min-height: 100vh;
  }
.example-container{
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}
.content{
    height: calc(100vh - 98px);
    border-radius: 15px;
    margin: 16px;
    color: black;
    display:inline-flexbox;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

